<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net461" />
  <package id="libKeyFinder.NET" version="1.0.0" targetFramework="net461" />
  <package id="libKeyFinder.NET.Native" version="1.0.0" targetFramework="net461" />
  <package id="libsndfile.NET" version="1.0.1" targetFramework="net461" />
  <package id="libsndfile.NET.Native" version="1.0.0" targetFramework="net461" />
</packages>